html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.ul-dir {
    display: inline-block;
    text-align: left;
    list-style-type: none;
}

.admin-table td {
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}
.admin-table th {
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}

.admin-update-row {
    border: 2px dashed #0094ff;
}

.admin-create-btn-container {
    width: 100%;
    text-align: right;
    padding: 10px;
}

.form-container {
    display: none;
    position: fixed;
    top: 12.5%;
    right: 25%;
    border: 3px solid #dddddd;
    z-index: 9;
    width: 50%;
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .5);
}

.form-popup {
    padding: 10px;
    background-color: white;
}

.thumbnail-container {
    border: 1px solid #dddddd;
    border-radius: 10px 10px 0 0;
    margin: 10.5px;
    padding: 0 11.5px 0 11.5px;
}

.thumbnail-container:hover {
    box-shadow: 0px 0px 99999px #dddddd inset;    
}

.thumbnail-title {
    padding: 5px;
}

.thumbnail-score-container {
    padding: 10px;
}

.thumbnail-more-teams-container {
    font-size: 8pt;
    border: 1px solid #dddddd;
}

.invisible-btn-wrapper {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.team-score-container {
    font-size: 24pt;
    border-radius: 10px;
    margin: 10px 0 0 0;
}

.plus-btn {
    border-radius: 50%;
    font-size: 18px;
    padding: 3px 12px 6px 12px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #969696;
    margin: 10px 0 10px 0;
}

.minus-btn {
    border-radius: 50%;
    font-size: 18px;
    padding: 3px 15px 6px 15px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #969696;
    margin: 10px 0 10px 0;
}

.plus-btn p {
    margin: 0;
}

.minus-btn p {
    margin: 0;
}

.team-name-container {
    font-size: 16pt;
}

.scoreboard-title-container {
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.scoreboard-title {
    font-size: 16pt;
    margin 5px;
}

#add-team-btn {
    border-radius: 5px;
    font-size: 16pt;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #dddddd;
    color: #dddddd;
    padding: 1px 15px 1px 15px;
}

#add-team-btn:hover {
    box-shadow: 0px 0px 99999px #dddddd inset;
    color: #ffffff;
}

#add-team-btn p {
    margin: 0;
}

.color-radio {
    visibility:hidden;
    margin: 7px;
}

.color-radio:after {
    width: 25px;
    height: 25px;
    border-radius: 30px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--color-var);
    content: '';
    display: inline-block;
    visibility: visible;
}

.color-radio:checked:after {
    width: 25px;
    height: 25px;
    border-radius: 30px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--color-var);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #0094ff;
}